@use 'variables';

.navbar {
  background-color: variables.$success;
  padding: variables.$spacer-half;
}

  .navbar-brand {
    width: 80;
    height: 40;
    padding: variables.$spacer-half;
  }

  .nav-link{
    color: variables.$warning;
  }
  .nav-link active{
    color: variables.$warning;
  }
